<script>
    //Navigation
    let navbar = document.createElement("div");
    navbar.setAttribute("class", "nav");

    const u = new URL(window.location);
    const depth = u.pathname.split("/").filter((d) => d != "");

    depth.forEach((n, index) => {

        if (n == "index.html" || n == "index") return;

        const navitem = document.createElement("div");
        const link = document.createElement("a");
        link.innerText = decodeURIComponent(
            n.substring(0, n.lastIndexOf(".")) || n
        );
        navitem.setAttribute("class", "nav-item");
        let nurl = u.origin;
        for (let i = 0; i <= index; i++) {
            nurl += `/${depth[i]}`;
        }
        link.setAttribute("href", nurl);
        navitem.appendChild(link);
        navbar.appendChild(navitem);
    });

    let header = document.getElementById("header");
    header.appendChild(navbar);
</script>