---
---

@import "{{ site.theme }}";

@mixin not-last-child($selector) {
  & #{$selector}:not(:last-child) {
    @content;
  }
}

.nav-item {
  color: cornflowerblue;
  width: fit-content;
  padding: 2px;
  cursor: pointer;
  &:hover {
    background-color: paleturquoise;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  font-size: x-small;
  font-weight: bolder;
  gap: 1px;
  margin-top: -25px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #eaecef;

  @include not-last-child("div") {
    &:after {
      content: " ➡️ ";
    }
  }
}

.markdown-body {
  max-width: 800px;
  font-size: 16px;
}

.markdown-body h1 {
  border:0;
}

.markdown-body p {
  font-size: 16px;
  line-height: 1.9em;
  margin-bottom: 1.2em;
}

.markdown-body li {
  line-height: 1.9em;
}

input.task-list-item-checkbox {
  margin-right: 4px;
}

h1,
h2,
h3,
h4,
h5,
blockquote {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida,
    "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

#header{
  display: flex;
  flex-direction:row;
  width: 100% !important;
  flex-wrap: wrap;  
}

#search{
  font-size: 21px;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

#search-input{
  width: 100%;
}