---
layout: default
---

<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>

{% include header.html %}
{{ content }}
{% include navigation.html %}

<div id="search-controls">
    <input id="search-input" placeholder="type to search..."></input>
    <div id="search-options">
        <label for="search-archives">
            <input type="checkbox" id="search-archives"> Archives
        </label>
        <label for="search-titles">
            <input type="checkbox" id="search-titles"> Only Titles
        </label>
    </div>
</div>

<div id="search-results">
    <div id="search-status">Loading...
    </div>
    <div id="search-results-container">
    </div>
    <div id="search-version"></div>
</div>


<script defer src="{{ site.baseurl }}{% link assets/js/lunr.js %}"></script>
<script defer src="{{ site.baseurl }}{% link assets/js/search.js %}"></script>